In [1]:
import pandas as pd
from datetime import datetime
from datetime import date

In [2]:
import locale
locale.setlocale(locale.LC_TIME, 'fr_FR.UTF-8')
datetime.today().strftime("%B").capitalize()

'Juin'

In [1]:
import pandas as pd
import psycopg2
import os
from dotenv import load_dotenv
from psycopg2 import sql

dotenv_path=("C:/Users/ubamiot/Scripts/Application_GI/.env")

load_dotenv(dotenv_path)

def get_connection():
    return psycopg2.connect(
        dbname=os.getenv("DB_NAME"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        host=os.getenv("DB_HOST"),
        port=os.getenv("DB_PORT")
    )

conn = get_connection()

correct_query = """
SELECT DISTINCT nom_client FROM clients
ORDER BY nom_client
"""

clients = pd.read_sql(correct_query, conn)

conn.close()

C:\Users\ubamiot\AppData\Local\Temp\ipykernel_2364\1347031722.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clients = pd.read_sql(correct_query, conn)

In [49]:
autres_baies = ['myrtille', 'framboise']

In [52]:
baie = ['fraise']

In [53]:
baie.extend(autres_baies)

In [54]:
baie

['fraise', 'myrtille', 'framboise']

In [56]:
baie[0]

'fraise'

In [2]:
na = ['N/A']
    
conn = get_connection()
clients_df = pd.read_sql("SELECT DISTINCT nom_client FROM clients ORDER BY nom_client", conn)
conn.close()
cli = clients_df["nom_client"].to_list()
na.extend(cli)

C:\Users\ubamiot\AppData\Local\Temp\ipykernel_2364\3799604394.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  clients_df = pd.read_sql("SELECT DISTINCT nom_client FROM clients ORDER BY nom_client", conn)

In [3]:
na

['N/A', 'CHU Rouen', 'Daniel Viger', 'La cave à vin', 'Norauto', 'Super U']

In [13]:
import psycopg2
import datetime
import pandas as pd
from psycopg2 import sql
from datetime import date

def get_connection():
    return psycopg2.connect(
        dbname=os.getenv("DB_NAME"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        host=os.getenv("DB_HOST"),
        port=os.getenv("DB_PORT")
    )

def lire_saisies_mois(utilisateur_id):
    today = date.today()
    first_day = today.replace(day=1)
    last_day = today.replace(day=31) if today.month == 12 else \
               today.replace(day=1, month=today.month + 1) - pd.Timedelta(days=1)

    with get_connection() as conn:
        query = """
        SELECT hs.id, hs.date, hs.type, hs.duree_heures, m.matricule_mission, c.nom_client, hs.code, hs.commentaire
        FROM heures_saisies AS hs
        LEFT JOIN missions m ON hs.mission_id = m.id
        LEFT JOIN clients c ON hs.client_id = c.id
        WHERE hs.utilisateur_id = %s AND hs.date BETWEEN %s AND %s
        """
        df = pd.read_sql(query, conn, params=(utilisateur_id, first_day, last_day))
    return df

df = lire_saisies_mois(1)

C:\Users\ubamiot\AppData\Local\Temp\ipykernel_2364\4107540031.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=(utilisateur_id, first_day, last_day))

In [14]:
df

,id,date,type,duree_heures,matricule_mission,nom_client,code,commentaire
0,40,2025-06-06,Non facturables,1.5,None,None,910,
1,41,2025-06-06,Non facturables,2.5,None,None,910,
2,42,2025-06-12,Non facturables,5.0,None,None,901,
3,45,2025-06-05,Non facturables,4.0,None,None,911,Encore un test
4,49,2025-06-17,Non facturables,6.5,None,None,910,Moins 1 ?

In [7]:
import pandas as pd

df = pd.read_csv("V:\Collaborateurs\Bastien Amiot\Tempno\Import bareme_km.csv", encoding="utf8", sep=";")
df.head(15)

<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:3: SyntaxWarning: invalid escape sequence '\C'
C:\Users\ubamiot\AppData\Local\Temp\ipykernel_28004\3397536822.py:3: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_csv("V:\Collaborateurs\Bastien Amiot\Tempno\Import bareme_km.csv", encoding="utf8", sep=";")
C:\Users\ubamiot\AppData\Local\Temp\ipykernel_28004\3397536822.py:3: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_csv("V:\Collaborateurs\Bastien Amiot\Tempno\Import bareme_km.csv", encoding="utf8", sep=";")

FileNotFoundError: [Errno 2] No such file or directory: 'V:\\Collaborateurs\\Bastien Amiot\\Tempno\\Import bareme_km.csv'

In [4]:
df.dtypes

id                 int64
type_vehicule     object
cv                 int64
borne_inf          int64
borne_sup          int64
montant_par_km    object
add_indemn         int64
dtype: object

In [5]:
df["montant_par_km"] = df["montant_par_km"].str.replace(",", ".").astype(float)

In [6]:
df.dtypes

id                  int64
type_vehicule      object
cv                  int64
borne_inf           int64
borne_sup           int64
montant_par_km    float64
add_indemn          int64
dtype: object

In [7]:
df.to_csv("bareme_corrige.csv", sep=";", index=False)

In [4]:
import os
import pandas as pd
import psycopg2
from psycopg2 import sql
from dotenv import load_dotenv

BASE_DIR = "C:/Users/ubamiot/Scripts/Application_GI"
dotenv_path = os.path.join(BASE_DIR, ".env")
load_dotenv(dotenv_path)

conn = psycopg2.connect(
        dbname=os.getenv("DB_NAME"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        host=os.getenv("DB_HOST"),
        port=os.getenv("DB_PORT")
    )

In [13]:
bareme = pd.read_csv(BASE_DIR + "/bareme_corrige.csv", encoding="utf8", sep=";")

bareme.head()

  type_vehicule  cv  borne_inf  borne_sup  montant_par_km  add_indemn
0    Automobile   3          0       5000           0.410           0
1    Automobile   3       5001      20000           0.245         824
2    Automobile   3      20001     999999           0.286           0
3    Automobile   4          0       5000           0.493           0
4    Automobile   4       5001      20000           0.277        1082

In [12]:
cursor = conn.cursor()

for _, row in bareme.iterrows():

    cursor.execute("""
        INSERT INTO baremes_km (type_vehicule, montant_par_km, borne_inf, borne_sup, add_indemn, cv)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, (
        row['type_vehicule'],
        float(row['montant_par_km']),
        int(row['borne_inf']),
        int(row['borne_sup']),
        int(row['add_indemn']),
        int(row['cv'])
    ))

conn.commit()
conn.close()

In [14]:
import pandas as pd
import psycopg2
import os
import io
import sys
import openpyxl
import locale
from dotenv import load_dotenv
from psycopg2 import sql
import numpy as np
from datetime import datetime

BASE_DIR = os.path.abspath(os.path.join(os.getcwd(), ".."))
dotenv_path = os.path.join(BASE_DIR, ".env")

load_dotenv(dotenv_path)

True

In [16]:
def reverse(mot):
    rev = mot[::-1]
    print(f"L'inverse du mot {mot} est {rev}")

In [17]:
reverse("Bonjour")

L'inverse du mot Bonjour est ruojnoB

In [30]:
def odd(number):
    input_num = number

    if input_num % 2 == 0:
        print(f"{input_num} est un nombre pair")
    else:
        print(f"{input_num} est un nombre impair")

In [31]:
odd(5)

In [62]:
def square():
    number=int(input("Entrez un nombre"))
    list = []
    for i in range(number+1):
        square = i**2
        list.append(square)
    print(f"Les carrés des nombres de 0 à {number} sont :")
    return(list)

In [64]:
square()

Entrez un nombre 10

Les carrés des nombres de 0 à 10 sont :

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [98]:
def sum_even(list_num):
    even = []
    odd = []
    for i in (list_num):
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
    return [sum(i for i in even)]

In [99]:
sum_even([0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

[220]

In [104]:
sorted("chien")

['c', 'e', 'h', 'i', 'n']

In [112]:
def anag(mot1, mot2):
    mot1 = str.lower(mot1)
    mot2 = str.lower(mot2)

    sort_1 = sorted(mot1)
    sort_2 = sorted(mot2)

    if sort_1 == sort_2:
        print(f"{mot1} et {mot2} sont des anagrammes")
    else:
        print(f"{mot1} et {mot2} ne sont pas des anagrammes")

In [114]:
anag("chien", "ananas")

chien et ananas ne sont pas des anagrammes

In [119]:
from collections import Counter
import re

phrase = "Le Malamute de l'Alaska est un chien d'origine Inuït"

phrase = phrase.replace("'", " ")
phrase = re.sub(r"[^\w\s]", "", phrase.lower())
phrase = phrase.split()
print(Counter(phrase))

Counter({'le': 1, 'malamute': 1, 'de': 1, 'l': 1, 'alaska': 1, 'est': 1, 'un': 1, 'chien': 1, 'd': 1, 'origine': 1, 'inuït': 1})

In [136]:
def calc_cli():
    print("Sélectionnez un premier nombre :")
    inp1 = int(input())
    print("Sélectionnez un second nombre :")
    inp2 = int(input())
    print("Sélectionnez une opération (+, -, *, /) :")
    op = input()

    if op == "+":
        result = inp1 + inp2
    elif op == "-":
        result = inp1 - inp2
    elif op == "*":
        result = inp1 * inp2
    elif op == "/" and inp2 != 0:
        result = inp1 / inp2
    else:
        result = "Opération non reconnue, veuillez réessayer"
    return result

In [137]:
calc_cli()

Sélectionnez un premier nombre :

 4

Sélectionnez un second nombre :

 0

Sélectionnez une opération (+, -, *, /) :

 /

'Opération non reconnue, veuillez réessayer'

In [155]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

phrase_2 = "Mon chien s'appelle Nanuuk. Nanuuk est un malamute d'Alaska"

def most_frequent(phrase):
    stop_words = set(stopwords.words('french'))

    phrase = phrase.lower().replace("'", " ")
    phrase = re.sub(r"[^\w\s]", "", phrase)
    phrase = phrase.split()

    phrase = [mot for mot in phrase if mot not in stop_words]

    count = Counter(phrase)

    most_freq = max(count.items(), key=lambda x : x[1])

    return most_freq, phrase

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ubamiot\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [156]:
most_frequent(phrase_2)

(('nanuuk', 2), ['chien', 'appelle', 'nanuuk', 'nanuuk', 'malamute', 'alaska'])

In [164]:
def juste_prix():
    prix = np.random.randint(1, 101)
    guess = int(input("Veuillez entrer un nombre compris entre 1 et 100 :" ))
    while guess != prix:
        if guess > prix:
            print("Moins")
            guess = int(input("Veuillez entrer un nombre compris entre 1 et 100"))
        elif guess < prix:
            print("Plus")
            guess = int(input("Veuillez entrer un nombre compris entre 1 et 100"))

    if guess == prix:
        print(f"Félicitations ! Le prix exact était de {prix}")

In [165]:
juste_prix()

Veuillez entrer un nombre compris entre 1 et 100 : 50

Moins

Veuillez entrer un nombre compris entre 1 et 100 25

Plus

Veuillez entrer un nombre compris entre 1 et 100 35

Plus

Veuillez entrer un nombre compris entre 1 et 100 40

Plus

Veuillez entrer un nombre compris entre 1 et 100 45

Moins

Veuillez entrer un nombre compris entre 1 et 100 43

Félicitations ! Le prix exact était de 43